@page
@model AspnetRun.Web.Pages.CompareModel
@{
}


<!-- Compare Page Start -->
<div class="page-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">                

                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Product</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="product-image-title">
                                            <a asp-page="ProductDetail" asp-route-slug="@item.Slug" class="image"><img src="assets/images/product/@item.ImageFile" alt="Compare Product"></a>
                                            <a asp-page="ProductDetail" asp-route-slug="@item.Slug" class="category">@item.Category.Name</a>
                                            <a asp-page="ProductDetail" asp-route-slug="@item.Slug" class="title">@item.Name</a>
                                        </td>
                                    }

                                    <td class="product-image-title">
                                        <a href="#" class="image"><img src="assets/images/compare/compare-1.png" alt="Compare Product"></a>
                                        <a href="#" class="category">Laptop</a>
                                        <a href="#" class="title">Zeon Zen 4 Pro</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img src="assets/images/compare/compare-2.png" alt="Compare Product"></a>
                                        <a href="#" class="category">Doren</a>
                                        <a href="#" class="title">Aquet Doren D 420</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="#" class="image"><img src="assets/images/compare/compare-3.png" alt="Compare Product"></a>
                                        <a href="#" class="category">Games</a>
                                        <a href="#" class="title">Game Station X 22</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">Description</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="pro-desc"><p>@item.Description</p></td>
                                    }

                                    <td class="pro-desc"><p>Samsome Note Book Pro 5 is the best Laptop on this budget. You can satisfy after usign this laptop. It’s performance is awesome. Designer’s love it.</p></td>
                                    <td class="pro-desc"><p>Samsome Note Book Pro 5 is the best Laptop on this budget. You can satisfy after usign this laptop. It’s performance is awesome. Designer’s love it.</p></td>
                                    <td class="pro-desc"><p>Samsome Note Book Pro 5 is the best Laptop on this budget. You can satisfy after usign this laptop. It’s performance is awesome. Designer’s love it.</p></td>
                                </tr>
                                <tr>
                                    <td class="first-column">Price</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="pro-desc"><p>@item.UnitPrice</p></td>
                                    }

                                    <td class="pro-price">$295</td>
                                    <td class="pro-price">$275</td>
                                    <td class="pro-price">$395</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Color</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="pro-color">Black</td>
                                    }

                                    <td class="pro-color">Black</td>
                                    <td class="pro-color">Black</td>
                                    <td class="pro-color">Black</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Stock</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="pro-desc"><p>@item.UnitsInStock</p></td>
                                    }

                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Add to cart</td>

                                    @foreach (var item in Model.CompareViewModel.Items)
                                    {
                                        <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a></td>

                                    }

                                    <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a></td>
                                    <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a></td>
                                    <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a></td>
                                </tr>
                                <tr>
                                    <td class="first-column">Delete</td>
                                    <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                    <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                    <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="first-column">Rating</td>
                                    <td class="pro-ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="pro-ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="pro-ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                

            </div>
        </div>
    </div>
</div>
<!-- Compare Page End --> 